body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #ffffff;
    font-size: 12px;
  }
  #canvas {
          background: #666;
          width: 640px;
          height: 480px;
  }
  #scale, #scale-divisions {
    width: 100%;
    height: 24px;
  }
  #scale-divisions {
    position: relative;
  }
  #min-tmp-division {
    position: absolute;
    left: -20px;
  }
  #max-tmp-division {
    position: absolute;
    right: -20px;
  }
  .division {
    position: absolute;
  }
  #scale {
    display: flex;
  }
  #scale span {
    display: block;
    width: 1%;
    height: 23px;
  }
  #messages {
    overflow-y: auto;
  }
  .divisionBtn {
    cursor: pointer;
  }
  .divisionBtn:hover{
    color: #99b2ce;
  }
  @media only screen and (max-device-width: 480px) {
    body {
      font-size:24px;
    }
    #messages {
      margin-top:20px;
    }
  }